<div class="min-h-screen flex flex-col bg-base-300" data-theme="dim">
  <!-- Header -->
  <header class="bg-neutral text-neutral-content p-4 shadow-lg">
    <div class="container mx-auto">
      <h1 class="text-2xl font-bold">My Cruddies</h1>
    </div>
  </header>

  <!-- Main Content -->
  <main class="flex-grow p-4">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="bg-neutral text-neutral-content p-4 text-center mt-6">
    <div class="container mx-auto">
      <p>&copy; 2025 My Cruddies. Made by <span class="badge badge-warning">Jundrel Alonzo</span>. All rights reserved.</p>
    </div>
  </footer>
</div>
