<div class="flex justify-center items-center min-h-[72vh] px-4">
  <div class="hero bg-base-200 w-full max-w-[90%] sm:max-w-[80%] lg:max-w-[70%] mx-auto flex items-center justify-center p-4 sm:p-6 lg:p-10 rounded-lg">
    <div class="hero-content flex-col lg:flex-row-reverse w-full text-center lg:text-left gap-4 sm:gap-6">
      <img
        src="assets/profile.jpg"
        class="w-full max-w-[200px] sm:max-w-xs rounded-lg shadow-2xl object-cover"
        alt="Profile Image" />
      <div class="p-2 sm:p-4">
        <h1 class="text-2xl sm:text-3xl lg:text-4xl font-bold">CRUD OPERATION</h1>
        <h1 class="text-base sm:text-lg font-bold">
          Using
          <div class="tooltip" data-tip="Google Sheet">
            <img src="https://mailmeteor.com/logos/assets/PNG/Google_Sheets_Logo_512px.png"
                 alt="Google Sheets Logo" class="inline w-4 h-6 sm:w-5 sm:h-7" />
          </div>
          as Database
        </h1>
        <h3 class="font-bold text-sm sm:text-base">Made by: <span class="badge badge-success">Jundrel</span></h3>
        <br />
        <p class="py-2 sm:py-4 text-sm sm:text-base">
          This is a simple CRUD (Create, Read, Update, Delete) application built using Angular that allows users to manage student records. Instead of using a traditional database, the system utilizes Google Sheets as a backend, leveraging Google Apps Script to handle data operations.
        </p>
        <button (click)="navigateToStudents()" class="btn btn-success text-sm sm:text-base px-4 py-2 sm:px-6 sm:py-3">
          Enter CRUD
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4 sm:size-5">
            <path fill-rule="evenodd" d="M17 4.25A2.25 2.25 0 0 0 14.75 2h-5.5A2.25 2.25 0 0 0 7 4.25v2a.75.75 0 0 0 1.5 0v-2a.75.75 0 0 1 .75-.75h5.5a.75.75 0 0 1 .75.75v11.5a.75.75 0 0 1-.75.75h-5.5a.75.75 0 0 1-.75-.75v-2a.75.75 0 0 0-1.5 0v2A2.25 2.25 0 0 0 9.25 18h5.5A2.25 2.25 0 0 0 17 15.75V4.25Z" clip-rule="evenodd" />
            <path fill-rule="evenodd" d="M1 10a.75.75 0 0 1 .75-.75h9.546l-1.048-.943a.75.75 0 1 1 1.004-1.114l2.5 2.25a.75.75 0 0 1 0 1.114l-2.5 2.25a.75.75 0 1 1-1.004-1.114l1.048-.943H1.75A.75.75 0 0 1 1 10Z" clip-rule="evenodd" />
          </svg>
        </button>
        <div class="divider"></div>
      </div>
    </div>
  </div>
</div>
