<div class="flex justify-center items-center min-h-[72vh]">
  <div class="hero bg-base-200 max-w-[80%] h-100 w-full mx-auto flex items-center justify-center p-6 lg:p-10 rounded-lg">
    <div class="hero-content flex-col lg:flex-row-reverse max-w-[100%] text-center lg:text-left gap-6">
      <img
        src="https://scontent.fmnl8-6.fna.fbcdn.net/v/t39.30808-6/457359683_1880002252523205_507399549423183294_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeFgjhbjIqCE7hYqhPxj2Aj9QMdgJvAuy3lAx2Am8C7Lec0B7TzbFPcfSRxRJcQrSPgsvT4Tr2c5-1LipbxVtHj1&_nc_ohc=p4j4fhF2njwQ7kNvgEy2hwV&_nc_oc=AdkSsQgbV7WaRNICmGMHlfCB0tGmI8ma2UoXIgPicrCRiAck6ASYUgyCzdPuRGRcejk&_nc_zt=23&_nc_ht=scontent.fmnl8-6.fna&_nc_gid=GSj5heY5dpkf6isLzpzokA&oh=00_AYEwX92jbXQ2HiyjxZsALD5K74FFOgLxqK0Bl_eUr-CCLA&oe=67EAB4DA"
        class="max-w-xs rounded-lg shadow-2xl" />
      <div class="p-4">
        <h1 class="text-4xl font-bold">CRUD OPERATION</h1>
        <h1 class="text-lg font-bold flex items-center gap-2">
          Using
          <div class="tooltip" data-tip="Google Sheet">
            <img src="https://mailmeteor.com/logos/assets/PNG/Google_Sheets_Logo_512px.png"
               alt="Google Sheets Logo" class="inline w-5 h-7" />
          </div>
          as Database
        </h1>
        <h3 class="font-bold">Made by: <span class="badge badge-success">Jundrel</span></h3>
        <p class="py-4 text-base">
          This is a simple CRUD (Create, Read, Update, Delete) application built using Angular that allows users to manage student records. Instead of using a traditional database, the system utilizes Google Sheets as a backend, leveraging Google Apps Script to handle data operations.
        </p>
        <a routerLink="/students" class="btn btn-neutral">
          Enter CRUD
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
            <path fill-rule="evenodd" d="M17 4.25A2.25 2.25 0 0 0 14.75 2h-5.5A2.25 2.25 0 0 0 7 4.25v2a.75.75 0 0 0 1.5 0v-2a.75.75 0 0 1 .75-.75h5.5a.75.75 0 0 1 .75.75v11.5a.75.75 0 0 1-.75.75h-5.5a.75.75 0 0 1-.75-.75v-2a.75.75 0 0 0-1.5 0v2A2.25 2.25 0 0 0 9.25 18h5.5A2.25 2.25 0 0 0 17 15.75V4.25Z" clip-rule="evenodd" />
            <path fill-rule="evenodd" d="M1 10a.75.75 0 0 1 .75-.75h9.546l-1.048-.943a.75.75 0 1 1 1.004-1.114l2.5 2.25a.75.75 0 0 1 0 1.114l-2.5 2.25a.75.75 0 1 1-1.004-1.114l1.048-.943H1.75A.75.75 0 0 1 1 10Z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
